@model Employee
@{
    ViewBag.Title = Model != null ? "Edit" : "Create";
}
<h2>@ViewBag.Title Employee</h2>
<div asp-validation-summary="All"></div>

<form asp-action="@ViewBag.Title">
    <div class="col-lg-2">
        <input asp-for="EmployeeID" class="control-label" readonly hidden />


        <label asp-for="EmployeeName" class="control-label"></label>
        <input asp-for="EmployeeName" class="control-label"></input>

        <label asp-for="EmployeeNumber" class="control-label"></label>
        <input asp-for="EmployeeNumber" class="control-label"></input>

        <label asp-for="DOB" class="control-label"></label>
        <input asp-for="DOB" class="control-label"></input>

        <label asp-for="HiringDate" class="control-label"></label>
        <input asp-for="HiringDate" class="control-label"></input>

        <label asp-for="GrossSalary" class="control-label"></label>
        <input asp-for="GrossSalary" class="control-label"></input>

        <label asp-for="NetSalary" class="control-label"></label>
        <input asp-for="NetSalary" class="control-label"></input>

        <label asp-for="Departmentid" class="control-label"></label>
        <select asp-for="Departmentid" asp-items="@(new SelectList(ViewBag.Departments,"DepartmentID","DepartmentName"))" class="form-control">
            <option value="">Select Department</option>
        </select>
    </div>

    <input type="submit" value="Save" class="btn btn-primary"/>
    <a asp-action="Index" class="btn btn-secondary">Cancel</a>
</form>
